@model Category
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Category</title>
</head>
<body>
    <h1><a href="/">Products</a> | Categories</h1>
    <h3>New Category</h3>
    <form asp-action="AddCategory" asp-controller="Home" method="POST">
        <div class="form-group">
        <label for="Name">Name</label>
        <span asp-validation-for="Name"></span>
        <input type="text" asp-for="Name">
        </div>
        <button>Create</button>
    </form>
    <h3>Existing Categories</h3>
    <ul>
    @foreach(Category category in @ViewBag.AllCategories)
    {
        <li><a href="categories/@category.CategoryId">@category.Name</a></li>
    }
    </ul>
</body>
</html> 