@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    
    <h1>Register to this Cool Site!</h1>
    <a href="/login">Login</a>
    
    <form asp-action="register" asp-controller="Home" method="POST">
        <label for="FirstName">First Name</label>
        <span asp-validation-for="FirstName"></span>
        <input type="text" asp-for="FirstName">
  
        <label for="LastName">Last Name</label>
        <span asp-validation-for="LastName"></span>
        <input type="text" asp-for="LastName">
  
        <label for="Email">Email address</label>
        <span asp-validation-for="Email"></span>
        <input type="email" placeholder="Enter email" asp-for="Email">
  
        <label for="Password">Password</label>
        <span asp-validation-for="Password"></span>
        <input type="password" placeholder="Password" asp-for="Password">
  
        <label for="Confirm">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" asp-for="Confirm">
        <button>Sign up Now</button>
    </form>

</body>
</html>

