@model Dish

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to CRUDelicious</h1><br>
    <a href="/add">Add a Dish</a><br>
    <h3>Check out some recent dishes!</h3><br>
    @for(int i = @ViewBag.AllDishes.Count-1; i >= 0 ; i --)
    {
    <p><a href="@ViewBag.AllDishes[i].DishId">@ViewBag.AllDishes[i].Name</a> by @ViewBag.AllDishes[i].Chef</p>
    }
    <a href=""></a>       
</body>
</html>
